.centerDiv {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  top: 0;
  left: 0;
}
.error {
  position: fixed;
  outline: none;
  border: none;
  padding: 20px 30px;
  background-color: var(--dark);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-sm);
  filter: brightness(1.25);
  animation-name: slide-down;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.error:hover {
  filter: brightness(1.5);
}
@keyframes slide-down {
  0% {
    top: -10%;
  }
  100% {
    top: 40%;
  }
}
